data/*
resources
results
.idea/*
.idea
.snakemake/*
output*

!resources/.gitkeep
!resources/meta/*
!results/.gitkeep

# Sphinx documentation
docs/build/

# Snakemake report
report.zip
report.html
report/

# Output files form nohup etc.
*.out
