static_params:
  parcellations:
    anatomical:
    ICA:
    #LocaNMF:
    #  minrank: 0
    #  maxrank: 10
    #  min_pixels: 400
    #  loc_thresh: 70
    #  r2_thresh: 0.99
    #  nonnegative_temporal: False
  selected_trials: {}
  features: {}
    #mean:
    #covariance:
    #moup:
    #autocovariance:
  decoders: {}
    #MLR:
    #1NN:
    #LDA:
    #RF:

paths:
  parcellations:
    ICA: {}
    anatomical:
      atlas: resources/meta/anatomical.mat
    LocaNMF:
      atlas: resources/meta/anatomical.mat

different_config_inputs: 1

limit_memory: 1

loglevel: INFO

export_type: 'npy'
