branch_opts:
  parcellations:
      anatomical:
        ROI: [['VISp-R,VISrl-R,SSp-bfd-R,MOs-R,MOs-L,SSp-bfd-L,VISrl-L,VISp-L'],[]] #FRP-R,MOp-R'],["VIS,SS"]]
      #SVD:
      #ICA:
      #n_comps: [64]
      #LocaNMF:

  selected_trials:
    All:


  features:
    #raw:
    #  max_components : [64]
    mean:
    #  window: [1]
    #covariance:
      #max_components : [64]
    #moup:
    #  timelags: [1] #,2,3]
      #optional:
      #  thresh:
      #    - 0.5
    #  max_components : [64]
    #autocovariance:
    #  timelags: [[1]] #,[1]]
      #optional:
      #  thresh:
      #    - 0.5
    #cofluctuation:

  decoders:
    default:
      reps: [10]
    MLR:
    MLRshuffle:

    #1NN:
    #LDA:
    #RF:

  rfe:
    select_features_n:
      - 1.0 #Dry run, reduces to 100% of features
      - 2 #Reduces to % of features (floats < 1.0)
      #- 100 #Reduces to n features (integers)
    reps: 1 # Does independent repetitions, averages the feature rank and returns the highest ranked features

  plotting:
    plot_parcels:
      n: 64

static_params:
  parcellations:
    anatomical:
    ICA:
    LocaNMF:
      minrank: 0
      maxrank: 10
      min_pixels: 400
      loc_thresh: 70
      r2_thresh: 0.99
      nonnegative_temporal: False


  selected_trials:
    All:

  features:
    mean:

  decoders:
    MLR:
    1NN:
    LDA:
    RF:

paths:
  parcellations:
    ICA: {}
    anatomical:
      atlas: resources/meta/anatomical.mat
    LocaNMF:
      atlas: resources/meta/anatomical.mat

different_config_inputs: 1

limit_memory: 1

loglevel: INFO

export_type: 'npy'
